[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bcrypt = "*"
requests = "*"
flask-heroku = "*"
gunicorn = "*"
Flask = "*"
WTForms = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.7"
