{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">
{% if current_user.is_authenticated %}
{% if current_user.is_subscribed %}
	<h2> Wadup, {{current_user.username}}? </h2>
	<h3> Click the link below, if you want to go to the upload page. </h3>
	<br>
	<a href="/upload"><h3><b>Upload</b></h3></a>
{% else %} 
  <h2>Wadup {{current_user.username}}?<h2>
  	<h3> You'll need to subscribe if you want to use our site. </h3><br>
  	<a href="/subscribe"><h3><b>Subscribe</b></h3></a>
{% endif %}
{% else %}
	<h1><b> Hey there. </b></h1>
	<h3> You'll need to register as a user and get a subscription if you want to use our site. </h3>
	<br>
	<a href="/register"><h3><b>Register</b></h3></a>
{% endif %}

  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/navbar.js"></script>
{% endblock %}
