{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">
{% if current_user.is_authenticated %}
{% if current_user.is_subscribed %}
	<p class="title is-2"> Wadup, {{current_user.username}}? </p>
	<p class="subtitle is-4"> Click the link below, if you want to go to the upload page</p>
	<br>
	<a href="/upload"><p class="subtitle is-5"><b>Upload</b></p></a>
{% else %} 
  <p class="title is-2">Wadup {{current_user.username}}?</p>
  	<p class="subtitle is-4"> You'll need to subscribe if you want to use our site </p>
  	<br>
  	<a href="/subscribe"><p class="subtitle is-5"><b>Subscribe</b></p></a>
{% endif %}
{% else %}
	<p class="title is-2"> Hey there </p>
	<p class="subtitle is-4"> You'll need to register as a user and get a subscription if you want to use our site </p>
	<br>
	<a href="/register"><p class="subtitle is-5"><b>Register</b></p></a>
{% endif %}

  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/navbar.js"></script>
{% endblock %}
