{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://github.com/anfederico/Flaskex/raw/master/media/flaskex-logo.png" alt="Flaskex">
        <h6 href="/" class="subtitle"><strong>ThemOldies</strong></h6>
      </a>
      <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu-id" class="navbar-menu">
      <div class="navbar-end"></div>
    </div>
  </nav>
</section>
<title>ThemOldies</title>
<section class="hero is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-auto">
          <br>
          <p class="title is-2">ThemOldies</p>
          <p class="subtitle is-4"><i>Providing you with price predictions of real estates</i></p>
          <p class="subtitle is-5">&#x2022 Cheap and worth the money</p>           
        </div>
        <div class="column is-auto">
          <div id="register-box" class="register-box">
            <div class="signup-area">
              <p class="title">Register</p>
              <p> Already have an account?
              <a href="/login"><b>Login</b></a></p>
              <br>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="register-user" class="input is-success" type="text" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="register-mail" class="input is-success" type="text" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="register-pass" class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                  </span>
                </p>
              </div>
              <br>
              <a id="register-button" class="form-button button is-primary is-inverted is-outlined">Register</a>
              <br>
              <br>
              <i><a id="feedback" class="feedback"></a></i>
              <br>
              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>ThemOldies</strong> by Frederik Christoffersen <i>&</i> Theodore Lemle
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2019</a>
        </p>
        <p>
          <a class="icon has-text-primary" href="https://github.com/FrederikWLC" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-primary" href="https://github.com/FrederikWLC" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="mailto:FrederikWLC@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/auth.js"></script>
{% endblock %}