{% extends "base.html" %}
{% include "navbar.html" %}

{% block head %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
{% endblock %}

{% block body %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
  	<p class="title is-2"> Drop your tsv file including the adresses here </p>
{{ dropzone.create('/upload') }}
<button id="upload">Upload</button>
{{ dropzone.load_js() }}
{{ dropzone.config() }}
</div> </section>
{% endblock %}
{% block scripts %}
<script src="../static/js/navbar.js"></script>
{% endblock %}